name: test-bbr
on: [push, pull_request]

jobs:
  test-latest:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install asdf and checkout latest tag
      run: |
        set -e

        if [ -n "$GITHUB_RUN_ID" ]; then
            export GITHUB_API_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        fi

        ./tests/setup-env.sh
    - name: Test bbr
      run: |
        set -e

        if [ -n "$GITHUB_RUN_ID" ]; then
            export GITHUB_API_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        fi

        ./tests/run-tests.sh bbr
    - name: Test bbr-s3-config-validator
      run: |
        set -e

        if [ -n "$GITHUB_RUN_ID" ]; then
            export GITHUB_API_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        fi

        if [ "$RUNNER_OS" == "macOS" ]; then
          ./tests/run-tests.sh bbr-s3-config-validator || exit 0
        else
          ./tests/run-tests.sh bbr-s3-config-validator
        fi

  test-0-6-3:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      ASDF_LEGACY: "true"
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Manually add plugings to repository
      run: |
        set -e

        if [ -n "$GITHUB_RUN_ID" ]; then
            export GITHUB_API_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        fi

        ./tests/setup-env.sh
    - name: Test bbr
      run: |
        set -e

        if [ -n "$GITHUB_RUN_ID" ]; then
            export GITHUB_API_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        fi

        ./tests/run-tests.sh bbr
    - name: Test bbr-s3-config-validator
      run: |
        set -e

        if [ -n "$GITHUB_RUN_ID" ]; then
            export GITHUB_API_TOKEN="${{ secrets.GITHUB_TOKEN }}"
        fi

        if [ "$RUNNER_OS" == "macOS" ]; then
          ./tests/run-tests.sh bbr-s3-config-validator || exit 0
        else
          ./tests/run-tests.sh bbr-s3-config-validator
        fi
